<div id="logo" (click)="toggleCallout()"><img src="assets/siteicon.png">
    <div id="callout" *ngIf="showInfo">
        <div>
        Visualizes sound using <a
            href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API">Web Audio API</a> and <a
            href="https://d3js.org/">D3</a>.
        <p>
            Visit <a href="https://github.com/mpdroid/d3-audio">github repo</a> for more details.
        </p>
        <p>
            <i>By Rajaram G.</i><br>
        </p>
        </div>
        <svg height="3vh" width="3vh" viewBox="0 0 100 100">
            <polygon points="0,0 100,100 80,0" style="fill:white;stroke:white;stroke-width:1" />
        </svg>
    </div>
</div>
<div *ngIf="browserSupported && micAllowed" class="carousel">
    <app-graph #miniLed [transitionTime]="transitionTime" [frequencyBinCount]="bufferLength" maxStdAmplitude="255"
        [ngClass]="{'selected': graphType===ledGraphType}" [graphType]="ledGraphType" (click)="select(ledGraphType)">
    </app-graph>
    <app-graph #miniBubble [transitionTime]="transitionTime" [frequencyBinCount]="bufferLength" maxStdAmplitude="255"
        [ngClass]="{'selected': graphType==bubbleGraphType}" [graphType]="bubbleGraphType"
        (click)="select(bubbleGraphType)">
    </app-graph>
    <app-graph #miniPie [transitionTime]="transitionTime" [frequencyBinCount]="bufferLength" maxStdAmplitude="255"
        [ngClass]="{'selected': graphType===pieGraphType}" [graphType]="pieGraphType" (click)="select(pieGraphType)">
    </app-graph>
    <app-graph #miniSpiro [transitionTime]="transitionTime" [frequencyBinCount]="bufferLength" maxStdAmplitude="255"
        [ngClass]="{'selected': graphType===spiroGraphType}" [graphType]="spiroGraphType"
        (click)="select(spiroGraphType)">
    </app-graph>
    <app-graph #miniWave [transitionTime]="transitionTime" [frequencyBinCount]="bufferLength" maxStdAmplitude="255"
        [ngClass]="{'selected': graphType===waveGraphType}" [graphType]="waveGraphType" (click)="select(waveGraphType)">
    </app-graph>
</div>
<div *ngIf="browserSupported && micAllowed" class="container">
    <app-graph (click)="processMic()" #graph [transitionTime]="transitionTime" [frequencyBinCount]="bufferLength"
        maxStdAmplitude="255" [graphType]="graphType">
    </app-graph>
    <div id="hint" *ngIf="silent">
        Go ahead, make some noise...
    </div>
    </div>
<div *ngIf="!browserSupported" class="error">
    Sorry your browser does not support the audio features required by this web site. This site demonstrates the use of D3 to visualize sound.
    <p>
        Please try using the Chrome browser or visit this <a href="https://github.com/mpdroid/d3-audio">github
            repo</a> for more details.
</div>
<div *ngIf="browserSupported && !micAllowed" class="error">
    Sorry this web site requires your permission to capture sound from your microphone and visualize it using the d3
    JavaScript framework.
    <p>
        Please visit this <a href="https://github.com/mpdroid/d3-audio">github repo</a> for more details.
</div>