<div class="carousel" >
    <app-graph  #miniLed
    [transitionTime]="transitionTime"
    [xRangeMax]="bufferLength"
    yRangeMax="255"
    [graphType]="ledGraphType">
    </app-graph>
    <app-graph  #miniBubble
    [transitionTime]="transitionTime"
    [xRangeMax]="bufferLength"
    yRangeMax="255"
    [graphType]="bubbleGraphType">
    </app-graph>
    <app-graph  #miniPie
    [transitionTime]="transitionTime"
    [xRangeMax]="bufferLength"
    yRangeMax="255"
    [graphType]="pieGraphType">
    </app-graph>
    <app-graph #miniSpiro
    [transitionTime]="transitionTime"
    [xRangeMax]="bufferLength"
    yRangeMax="255"
    [graphType]="spiroGraphType">
    </app-graph>
</div>
<div class="container" >
    <app-graph (click)="processMic()" #graph
    [transitionTime]="transitionTime"
    [xRangeMax]="bufferLength"
    yRangeMax="255"
    [graphType]="graphType">
    </app-graph>
</div>